.formDiv {
  display: grid;
  grid-template-columns: 100%;
}

.formButton {
  width: 100%;
  margin: 16px 0 !important;
}

.hiddenInput {
  display: none;
}

@media screen and (min-width: 900px) {
  .formDiv {
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
  }
}
