.formInput {
  margin: 16px 0 !important;
  /* padding: 18px 0 imp !important; */

  height: 7vh;
  width: 80vw;
  max-width: 380px;
}

.root {
  width: 100%;
}

.focusIcon {
  color: rgba(0, 214, 123, 0.9);
}

.normalIcon {
  color: #b7bfcb;
}

.errorIcon {
  color: red;
}
