.formInput {
  margin: 18px 0 !important;
  /* padding: 18px 0 imp !important; */

  height: 7vh;
  width: 80vw;
  max-width: 380px;
  min-height: 56px;
}

.root {
  width: 100%;
}

.focusIcon {
  font-size: small;
  color: var(--primary-color);
}

.normalIcon {
  font-size: small;
  color: #b7bfcb;
}

.errorIcon {
  font-size: small;
  color: red;
}
