.label {
  text-transform: capitalize;
}

.formInput {
  margin: 12px 0 !important;
  width: 80vw;
  max-width: 380px;
}

.root {
  width: 100%;
}

.focusIcon {
  color: rgba(0, 214, 123, 0.9);
}

.errorIcon {
  color: red;
}
