.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.button {
  margin: 4px 0 !important;
}

.uploadImageThumb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 24px 0;

  max-width: 480px;
}

.thumbArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
