.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.successContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.successLabel {
  font-size: 24px;
}

.rootLargeIcon {
  margin: 24px 0;
}

.form {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  max-height: 100vh;
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.byClickingTheButt {
  height: 42px;
  width: 380px;
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: -0.24px;
  line-height: 21px;
  text-align: center;
  color: #81868f;
}

.anchor {
  color: #0092ed;
  margin: 0 4px;
}

.alreadyAMemberSi {
  height: 24px;
  width: 380px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.24px;
  line-height: 19px;
  text-align: center;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .container {
    display: none;
  }
}
